.navbar {
    background-color: #252525;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #ffffff;
}

.logo img {
    width: 40px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #ff6900;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
}

.profile-icon {
    width: 40px;
    border-radius: 50%;
}

.profile-icon i {
    font-size: 2vw;
}
